@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gabarito", sans-serif;
}

:root {
  @apply bg-white;
}

.mainContent {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainContent {
  @apply sm:w-[90vw] lg:w-[80vw] md:w-[85vw];
}

.main {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
  font-size: 2rem;
}

.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
  
}

.btn_primary {
  @apply rounded-md xl:rounded-md text-sm btn-md font-thin sm:btn sm:btn-sm sm:text-white sm:btn-primary sm:bg-primary-red  md:text-white md:btn-primary md:bg-primary-red  lg:btn lg:bg-primary-red  bg-primary-red border-none lg:text-white text-white hover:bg-red-600;
}

.hero_content {
  @apply flex justify-start gap-3 p-10;
}

.posterImages {
  @apply w-[16rem] h-[12rem] sm:w-[20rem] sm:h-[16rem] md:w-[24rem] md:h-[20rem] lg:w-[30rem] lg:h-[24rem];
}

.headerTitle {
  @apply footer-title text-white opacity-100 font-bold underline-offset-4 md:mb-2 md:text-base capitalize lg:underline leading-4 text-xl mb-1 mt-2 lg:mt-0 md:mt-0;
}

.headerTexts {
  @apply link link-hover text-white text-sm sm:text-base md:text-base lg:text-lg;
}

.testimonial_card {
  @apply flex-1 break-inside-avoid rounded-lg border  border-gray-300 bg-white/20 bg-clip-padding w-[240px] p-4 md:p-6 lg:p-6  pb-4 backdrop-blur-lg backdrop-filter  md:w-[360px] sm:w-[240px] sm:p-4  h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
